<div class="jumbotron">
  <h1>Titre VDM</h1>
  <h2> Pseudo <h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  augue eros nec purus. Vivamus venenatis arcu justo, id consequat sem sagittis id. Quisque volutpat bibendum purus, non suscipit purus consectetur non. Nam dignissim tortor quis fermentum interdum.</p>
  <div class="col-md-8">
    <div class="col-md-2" style="color:red">0</div>
    <div class="col-md-2" style="color:green">0</div>
    <div class="col-md-4">
      <button type="button" class="btn btn-danger">J'aime pas</button>
      <button type="button" class="btn btn-success">J'aime</button>
    </div>
  </div>
</div>
