.input{
  width: 100%;
  padding: 4px 0px;
  margin: 10px 0px;
  border-radius: 0px;
}

#butn-submit{
  margin-top: 5px;
  padding: 10px;
  border: 0px;
}

.result{
  font-size: 25px;
  font-weight: 600;
}
